In [27]:
import pandas as pd

df = pd.read_csv("./spreadsheets/orders.csv")

In [28]:
df.columns

Index(['OrderID', 'CustomerName', 'Product', 'Category', 'Quantity', 'Price',
       'OrderDate', 'Shipped', 'Country'],
      dtype='object')

In [ ]:
df[["Country", "Product"]]

In [30]:
df.iloc[10]["Country"]

# iloc: index location

'France'

In [31]:
df.head()

,OrderID,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country
0,1001,John Smith,Laptop,Electronics,1,1200.0,2024-06-01,Yes,USA
1,1002,Sarah Lee,Headphones,Electronics,2,150.0,2024-06-03,No,Canada
2,1003,Ali Khan,Office Chair,Furniture,1,300.0,2024-06-04,Yes,UAE
3,1004,Alice Wong,Desk Lamp,Furniture,3,45.0,2024-06-05,Yes,Singapore
4,1005,Carlos Mendez,Keyboard,Electronics,2,80.0,2024-06-06,No,Mexico

# Filtering

In [ ]:
# Filtering with "and"

df[(df["Category"] == "Electronics") & (df["Country"] == "USA")]

,OrderID,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country
0,1001,John Smith,Laptop,Electronics,1,1200.0,2024-06-01,Yes,USA

In [ ]:
# Filtering with "or"

df[(df["Category"] == "Electronics") | (df["Country"] == "USA")]

In [ ]:
# Filtering with logic operators

df[df["Quantity"] > 20]

,OrderID,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country
33,1034,Alex Johnson,Index Cards,Stationery,100,0.8,2024-07-05,Yes,USA

# Advanced filtering

In [ ]:
# Filtering with name of columns

df[df["CustomerName"].str.startswith("A")]

In [ ]:
# Filtering with name of columns by comparing to a list

df[df["Country"].isin(["USA", "Sweden", "Brazil"])]

In [ ]:
# Reversing conditions

df[~df["Country"].isin(["USA", "Sweden", "Brazil"])]

In [51]:
# Locate spcific dataframe

df.loc[df["CustomerName"] == "Anna Ivanova"] # returns dataframe

,OrderID,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country
39,1040,Anna Ivanova,Tim,Furniture,1,35.0,2024-07-11,Yes,Ukraine

# Updating data

In [ ]:
# Filter and update data

df.loc[df["CustomerName"] == "Anna Ivanova", "Product"] = "Tim"

In [ ]:
# Visualize the change

df.loc[df["CustomerName"] == "Anna Ivanova"]

In [52]:
df.loc[df["Country"] == "USA", "Country"] = "United States"

In [ ]:
df.loc[df["Country"] == "United States"]

In [56]:
df["Country"] = df["Country"].str.upper()

In [58]:
df["Country"] = df["Country"].str.title()

In [ ]:
df["Country"]

# Deleting data

In [60]:
# Drop the row at index n

df = df.drop(39)

In [ ]:
df.tail()

# Cleaning data

In [ ]:
# Drop anything that contains null values

df.dropna() # only returns

In [ ]:
# Fill null values with something

df.fillna({"OrderID": 0}, inplace=True)

# inplace = True --> modifies the dataframe
# inplace = False --> returns modified version of the dataframe

In [72]:
# Renaming a column

df.rename({"OrderID": "Order ID"}, inplace=True)

In [ ]:
df

# Analyze data

In [ ]:
# How many values in each row of a specific column

df["Country"].value_counts()

In [ ]:
# Sum all of the values of a columns to all rows of a specific column

df.groupby("Country")["Price"].sum()

In [ ]:
df.sort_values("Price") # , ascending="False"

# Save dataframe

In [83]:
df.to_csv("./modified_changes/new_file.csv", index=True)